.new_node
	%h1 New Node

	- form_remote_for(@node, :complete => "closeAddNodeForm(request);") do |f|
		= f.error_messages

		.field
			= f.label(:title)
			%br
			= f.text_field(:title)
			%p
			= f.label(:description)
			%br
			= f.text_field(:description)
			%br
			= f.hidden_field(:parent_id, :value => @parent_id)
	
		.actions
			= f.submit("Create Huddle")
