.field
  = form.label(:login)
  %br
  = form.text_field(:login)

.field
  = form.label(:password)
  %br
  = form.password_field(:password)

.field
  = form.check_box(:remember_me)
  = form.label(:remember_me)
